<html>

<head>

  <link rel="stylesheet" href="styles.css">
</head>

<body>

<a href="/addCat">Add a Cat</a>
<br>
Your cats:

<table>
<tr>
  <th>Name</th>
  <th>Breed</th>
  <th>Age</th>
  <th>Image</th>
</tr>
<% for(var i = 0; i<cats.length;i++) { %>
  <tr>
    <td><%= cats[i].name %></td>
    <td><%= cats[i].breed %></td>
    <td><%= cats[i].age %> </td>
    <td><img src=<%= cats[i].image %>></td>
  </tr>
<% } %>

</table>

</body>


</html>
